<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7745932/pexels-photo-7745932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Finding an accomodation made simple!</h1>
    <p>Discover stays that fit your style and budget — from cozy homes to unique experiences — all in just a few clicks.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="container mt-3">
  <h1>Find your ideal accomodation</h1>
  <%= render "shared/card_product" %>
</div>
